body {background-color: darkslategrey;}
h1 {color: blanchedalmond;
    text-align: center; 
    font-size: 300%;
    font-family: verdana;
    }
p {color: darkgray; 
    text-align: center;
    font-family: courier;
    }